@charset "utf-8";

/*--------------cmn setting--------------*/

html {
  font-size: 62.5%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
}
i {
  font-style: normal;
}
img,
a img {
  border: 0;
  vertical-align: top;
}
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
}
img[height] {
  height: auto;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a,
input,
button {
  outline: 0;
}

/*--------------user setting--------------*/

iframe {
  display: block;
}
table {
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border);
  margin: 1em 0;
  padding: 0;
}

.mt-1 {
  margin-top: calc(var(--spacer) * 1);
}
.mt-2 {
  margin-top: calc(var(--spacer) * 2);
}
.mt-3 {
  margin-top: calc(var(--spacer) * 3);
}
.mt-4 {
  margin-top: calc(var(--spacer) * 4);
}
.mt-5 {
  margin-top: calc(var(--spacer) * 5);
}
.mb-1 {
  margin-bottom: calc(var(--spacer) * 1);
}
.mb-2 {
  margin-bottom: calc(var(--spacer) * 2);
}
.mb-3 {
  margin-bottom: calc(var(--spacer) * 3);
}
.mb-4 {
  margin-bottom: calc(var(--spacer) * 4);
}
.mb-5 {
  margin-bottom: calc(var(--spacer) * 5);
}

/*--------------body--------------*/

body {
  margin: 0;
  padding: 0;
  color: var(--body);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.02rem;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-family);
  background: #f9f9f9;
  height: 100%;
}
@media screen and (max-width: 768px) {
  /*html{
		font-size: 55%;
	}*/
  body {
    letter-spacing: 0;
  }
  :root {
    --spacer: 1.5vw;
  }
}
